// COLOR VARIABLES
$color-primary: #ef1618;

$color-secondary: #1f1e1c;

$color-grey-light-1: #cccccc;
$color-grey-light-2: #9299a0;

$color-grey-dark-1: #6f7781;
$color-grey-dark-2: #6d5d4b;

$color-white: #fff;
$color-black: #000;
// FONT VARIABLES
$font-primary: "Archivo", "sans-serif";
$font-primary-bold: "Archivo Black";

$font-display: "Archivo Black", "sans-serif";

// RESPONSIVE BREAKPOINTS
$bp-2k: 125em; // 2000px;
$bp-2xlarge: 112.5em; // 1800px;
$bp-xlarge: 100em; // 1600px;
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
$bp-xsSmall: 26.25em; // 420px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// @font-face {
//   font-family: KaruBold;
//   src: url(/src/fonts/Karu-Bold.otf);
// }
// @font-face {
//   font-family: KaruReg;
//   src: url(/src/fonts/Karu-Regular.otf);
// }
// @font-face {
//   font-family: KaruLight;
//   src: url(/src/fonts/Karu-Light.otf);
// }

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  scroll-behavior: smooth;
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  color: $color-secondary;
  // font-weight: 300;
  line-height: 1.6;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  // background: $color-grey-light-1;
  grid-template-rows: 100vh repeat(4, minmax(min-content, 14rem)) 20vh;
  grid-template-columns:
    [full-start]minmax(6rem, 1fr) [center-start]repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end]minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 100vh;
  }
}
.container-two {
  display: grid;
  // background: $color-grey-light-1;
  // overflow: hidden;
  grid-template-rows: 100vh repeat(8, minmax(min-content, 14rem));
  grid-template-columns:
    [full-start]minmax(6rem, 1fr) [center-start]repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end]minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-medium) {
    // padding: 2rem;
  }
}

.underline--magical {
  background-image: linear-gradient(
    120deg,
    $color-grey-light-1 0%,
    $color-grey-light-1 100%
  );

  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 80%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 80%;
  }
}

.preloader {
  align-items: center;
  background: rgb(23, 22, 22);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 1;
}
