*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  scroll-behavior: smooth;
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary, sans-serif;
  color: $color-secondary;
  // font-weight: 300;
  line-height: 1.6;
  //   --page-background: #000;
  // background-color: $color-grey-light-1;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
}
