<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Taras Kurilo | Web Developer, Designer, Ecommerce Portfolio</title>
    <meta charset="UTF-8" />
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://www.taraskurilo.com/" />
    <meta name="description"
      content="I'm a web designer & fullstack developer. I build bespoke websites to help my clients
                push their businesses further online. Whether it's simple Blog or an Eccomerce Site.
                I preach Secure, DRY & Structured development!" />
    <meta name="image" content="https://taraskurilo.com/assets/img/taraskuriloHomepage.webp">
    <meta name="keywords" content="Taras Kurilo, web development, design, fullstack, ecommerce, seo, Boston, USA
              freelance, freelancer, responsive, rwd, web, website, ui, ux, user, interface, experience, graphic, creative,
              designer, director, direction, product, mobile, application, app, animation, interaction, photography, art, hire,
              agency, studio, consultancy, portfolio, case, study, studies, projects,
              typography, iconography, icon, mockup, project, brand, identity, photoshop, illustrator, after, effects, ipad, iphone
    " />
    <meta name="author" content="Taras Kurilo" />
    <meta name="robots" content="index, follow" />
    <meta name="DC.title" content="Taras Kurilo Web Developer Portfolio" />
    <meta name="geo.region" content="US-MA" />
    <meta name="geo.placename" content="Stoughton" />
    <meta name="geo.position" content="42.12291;-71.109201" />
    <meta name="ICBM" content="42.12291, -71.109201" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Taras Kurilo Portfolio" />
    <meta property="og:description"
      content="Taras Kurilo Web designer, developer portfolio" />
    <meta property="og:url" content="https://www.taraskurilo.com/" />
    <meta property="og:site_name"
      content="Taras Kurilo | Web Developer, Designer, Ecommerce Portfolio in Boston &amp; MA &amp; USA" />
    <meta property="og:image" content="https://taraskurilo.com/assets/img/portrait.png" />
    <meta property="og:image:secure_url" content="https://taraskurilo.com/assets/img/portrait.png" />
    <meta property="og:image:width" content="960" />
    <meta property="og:image:height" content="720" />
    <meta property="og:image:alt" content="Taras Kurilo Web Developer Portfolio" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@taraskurilo200">
    <meta name="twitter:title" content="Taras Kurilo Web Developer Portfolio">
    <meta name="twitter:description" content="I'm a web designer & fullstack developer. I build bespoke websites to help my clients push their businesses further online. Whether it's simple Blog or an Eccomerce Site. I preach Secure, DRY & Structured development!">
    <meta name="twitter:image" content="https://taraskurilo.com/assets/img/taraskuriloHomepage.webp">

    <link rel="shortcut icon" type="image/png" href="/assets/img/TK.svg" />
    <link rel="apple-touch-icon" type="image/x-icon" href="/assets/img/TK.svg">
    <!-- Google Structured Data Rich Snippet Review Schema -->
    <script type="application/ld+json">
          {
            "@context": "http://schema.org/",
            "@type": "Review",
            "itemReviewed": {
              "@type": "Service",
              "name": "Taraskurilo.com"
            },
            "author": {
              "@type": "Person",
              "name": "Joe Smith"
            },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            }
          }
        </script>
    <!-- Google Structured Data Person Schema -->
    <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "Person",
            "address": {
              "@type": "PostalAddress",
              "addressLocality": "Stoughton",
              "addressRegion": "MA",
              "postalCode": "02072"
            },
            "email": "taraskurilo@gmail.com",
            "image": "https://taraskurilo.com/assets/img/portrait.png",
            "jobTitle": "Web Developer",
            "name": "Taras Kurilo",
            "alumniOf": "Umass Boston",
            "url": "https://www.taraskurilo.com",
            "sameAs": [
              "https://www.linkedin.com/in/taras-kurilo-4a922613a/"
            ],
            "colleague": ["http://perundesign.com/", "https://iperun23.github.io/"]
          }
        </script>
    <!-- Google Structured Data Website Schema -->
    <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "@id": "#website",
            "url": "https://taraskurilo.com/",
            "name": "Taras Kurilo | Web Developer, Designer, SEO & Eccomerce in USA &amp; Stoughton",
            "description": "I build bespoke websites to help my clients push their businesses further online.",
            "publisher": "Taras Kurilo",
            "potentialAction": {
              "@type": "SearchAction",
              "target": "http://taraskurilo.com/search?&q={query}",
              "query-input": "required name=query"
            }
          }
        </script>
    <!-- Google Structured Data Logo Schema -->
    <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "https://www.taraskurilo.com",
            "logo": "https://taraskurilo.com/assets/img/TK.svg"
          }
        </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127294874-1"></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-127294874-1");
    </script>
    <!-- <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script> -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    /> -->
  </head>
  <body  data-barba="wrapper">
    <main class= "" data-barba="container" data-barba-namespace="home">
    <header class="header">
      <a href="/">
        <img src="assets/img/TK.svg" fill="red" alt="TK logo" class="header__logo" />
      </a>
      <!-- <a class="header__contact"><i class="far fa-2x fa-envelope"></i></a> -->

      <!-- <div class="header__social">
                      <a href=""><i class="fab fa-2x fa-github"></i></a>
                      <a href=""><i class="fab fa-2x fa-linkedin"></i></a>
                    </div> -->
      <!-- <img src="assets/img/TK.svg" alt="TK logo" class="header__logo-big" />
      <img src="assets/img/img1.jpg" alt="TK logo" class="header__chase-image" /> -->
      <!-- <div class="header__nav">
                      <a href="#work">Work</a>
                    </div> -->
      <nav class="header__nav">
        <ul>
          <li><a class="header__nav-link link link--elara" href="#work"><span>WORK</span></a></li>
          <li><a class="header__nav-link link link--elara" href="/contact.html"><span>CONTACT</span></a></li>
          <!-- <li><a class="header__nav-link" href="#contact">Contact</a></li> -->
          <!-- <li> <a class="header__nav-link" href="#about">About</a></li> -->
        </ul>
      </nav>
    </header>
    <section class="hero" id="hero">
      <div class="hero__content-area">
          <div class="hero__content-title">
            <h1>Chase </h1>
            <h1> your</h1>
          </div>
          <div class="hero__content-title">
                <h1>dreams</h1>
          </div>
          <div class="hero__content-title grey">
            <h1 class="hero__content-intro">not</h1>
            <h1 class="hero__content-intro">the</h1>
          </div>
          <div class="hero__content-title grey">
            <h1 class="hero__content-intro">competition</h1>
            </div>
          <div class="hero__content-message-container">
            <h2 class="hero__content-message">
              <span class="">Tell </span>
              <span class=""> Me </span>
              <span class=""> what </span>
              <span class=""> you</span>
              <span class=""> need</span>
            </h2>
            <h2 class="hero__content-message">
              <span class=""> &</span>
              <span class="">Magic</span>
              <span class="">Will </span>
              <span class=""> Happen</span>
            </h2>
          </div>
      </div>
      <div class="hero__image-container">
        <img class="hero__image"
              src="assets/img/run-600.webp"
              srcset="assets/img/run-600.webp 600w, assets/img/run.webp 1000w"
              sizes="(max-width: 56.25em) 88vw, (max-width: 37.5em) 86vw, 1000px" alt="Work 2"/>
      </div>
    </section>
    <article itemscope itemtype="http://schema.org/Article" class="work" id="work">
        <h1 itemprop="name" class="work__heading gs_reveal">RECENT WORK</h1>
        <div itemprop="articleBody">
            <div class="work__list">
              <div class="work__details ">
                <h1 class="work__details-heading">
                  <a class="work__details-heading-link gs_reveal" href="bl.html">B&L Cremation</a>
                </h1>
                <h2 class="work__type">Identity & Website</h2>
                <div class="work__type-link">
                  <a href="bl.html">
                    <!-- <button class="btn-test">View Project</button> -->
                    <button class="button button--surtur">
                      <svg class="textcircle" viewBox="0 0 500 500">
                        <title>Projects &amp; client work 2020</title>
                        <defs>
                          <path id="textcircle" d="M250,400 a150,150 0 0,1 0,-300a150,150 0 0,1 0,300Z"></path>
                        </defs>
                        <text>
                          <textPath xlink:href="#textcircle" aria-label="Projects &amp; client work 2020" textLength="900">Projects &amp;
                            client work 2020</textPath>
                        </text>
                      </svg>
                      <svg aria-hidden="true" class="eye" width="70" height="70" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg">
                        <path class="eye__outer"
                          d="M10.5 35.308c5.227-7.98 14.248-13.252 24.5-13.252s19.273 5.271 24.5 13.252c-5.227 7.98-14.248 13.253-24.5 13.253s-19.273-5.272-24.5-13.253z">
                        </path>
                        <path class="eye__lashes-up" d="M35 8.802v8.836M49.537 11.383l-3.31 8.192M20.522 11.684l3.31 8.192"></path>
                        <path class="eye__lashes-down"
                          d="M35 61.818v-8.836 8.836zM49.537 59.237l-3.31-8.193 3.31 8.193zM20.522 58.936l3.31-8.193-3.31 8.193z"></path>
                        <circle class="eye__iris" cx="35" cy="35.31" r="5.221"></circle>
                        <circle class="eye__inner" cx="35" cy="35.31" r="10.041"></circle>
                      </svg>
                    </button>
                  </a>
                </div>
              </div>
              <div class="work__image-container">
                <div class="work__image">
                  <img class="work__img" src="assets/img/bl/fire-600.webp" srcset="assets/img/bl/fire-600.webp 600w,
                                            assets/img/bl/fire-1200.webp 1500w,
                                            assets/img/bl/fire-2000.webp 1800w"
                    alt="Men standing in front of a big fire with a torch on fire in his hand" />
                </div>
              </div>
            </div>
            <div class="work__list">
              <div class="work__details">
                <h1 class="work__details-heading">
                  <a class=" work__details-heading-link gs_reveal" href="tlw.html">The Light Walk</a>
                </h1>
                <h2 class="work__type">Identity & Website</h2>
                <div class="work__type-link">
                  <a href="tlw.html">
                    <!-- <button class="btn-test">View Project</button> -->
                    <button class="button button--surtur">
                      <svg class="textcircle" viewBox="0 0 500 500">
                        <title>Projects &amp; client work 2020</title>
                        <defs>
                          <path id="textcircle" d="M250,400 a150,150 0 0,1 0,-300a150,150 0 0,1 0,300Z"></path>
                        </defs>
                        <text>
                          <textPath xlink:href="#textcircle" aria-label="Projects &amp; client work 2020" textLength="900">Projects &amp;
                            client work 2020</textPath>
                        </text>
                      </svg>
                      <svg aria-hidden="true" class="eye" width="70" height="70" viewBox="0 0 70 70" xmlns="http://www.w3.org/2000/svg">
                        <path class="eye__outer"
                          d="M10.5 35.308c5.227-7.98 14.248-13.252 24.5-13.252s19.273 5.271 24.5 13.252c-5.227 7.98-14.248 13.253-24.5 13.253s-19.273-5.272-24.5-13.253z">
                        </path>
                        <path class="eye__lashes-up" d="M35 8.802v8.836M49.537 11.383l-3.31 8.192M20.522 11.684l3.31 8.192"></path>
                        <path class="eye__lashes-down"
                          d="M35 61.818v-8.836 8.836zM49.537 59.237l-3.31-8.193 3.31 8.193zM20.522 58.936l3.31-8.193-3.31 8.193z"></path>
                        <circle class="eye__iris" cx="35" cy="35.31" r="5.221"></circle>
                        <circle class="eye__inner" cx="35" cy="35.31" r="10.041"></circle>
                      </svg>
                    </button>
                  </a>
                </div>
              </div>
              <div class="work__image-container">
                <div class="work__image trigger">
                  <img srcset="assets/img/tlw/kid-walk-600.webp 600w,
                                          assets/img/tlw/kid-walk-1200.webp 1500w,
                                          assets/img/tlw/kid-walk.webp 1800w"
                    alt="Small kid walking in sneakers while touching a wall with a blue sk in the back" class="work__img"
                    src="assets/img/tlw/kid-small-walk.jpg" />
                </div>
              </div>
            </div>

        </div>

    </article>

  <section class="intro" >
    <h1 class="intro__title-designer ">Designer</h1>
    <h1 class="intro__title-developer gs_reveal">Developer</h1>
    <p class="intro__description">
      I build websites that drive engagement, traffic and conversion for
      industry-leading brands and startups.
    </p>
  </section>
    <section class="personal">
      <h1 class="personal__heading">Personal Projects</h1>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide ">
              <div class="slide-inner" >
                <!-- <div class="overlay"></div> -->
                <div class="slide-inner--image" style="
                background-image: url(assets/img/job/jobTracker.webp);
               "></div>
                <div class="slide-inner--info">
                  <h1>Job Tracker App</h1>
                  <a href="jobtracker.html">
                    <button class="btn-test">View Project</button>
                  </a>
                </div>
              </div>
          </div>
          <div class="swiper-slide">
              <div class="slide-inner" >
                <!-- <div class="overlay"></div> -->
                <div class="slide-inner--image" style="background-image: url(assets/img/real/realestate.webp)"></div>
                <div class="slide-inner--info">
                  <h1>Real Estate App</h1>
                  <a href="realestate.html">
                    <button class="btn-test">View Project</button>
                  </a>
                </div>
              </div>
          </div>
          <!-- <div class="swiper-slide">
              <div class="slide-inner" >

                <div class="slide-inner--image" style="background-image: url('https://images.unsplash.com/photo-1527224538127-2104bb71c51b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80')"></div>
                <div class="slide-inner--info">
                  <h1>Restaurant App</h1>
                  <a href="">
                    <button class="btn-test">Coming Soon</button>
                  </a>
                </div>
              </div>
          </div> -->
          <!-- <div class="swiper-slide ">
              <div class="slide-inner" >
                <div class="overlay"></div>
                <div class="slide-inner--image" style= "


                background-image: url('assets/img/img3.jpg')"></div>
                <div class="slide-inner--info">
                  <h1>Games Review App</h1>
                  <a href="tlw.html">
                    <button class="btn-test">View Project</button>
                  </a>
                </div>
              </div>
          </div> -->
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </section>
    <!-- <section class="contact" id="contact">
      <div class="contact__start">
        <h1 class="contact__start-title">Start Project</h1>
      </div>
      <div class="contact__work">
        <h2 class="contact__work-title">Let's Work</h2>
        <h3 class="contact__interest">
          Interested in working together? Lets Start!
        </h3>
      </div>
      <div class="contact__middle">
        <div class="contact__middle-text">
          <h2>
            To find out the cost of yoursite, leave a request. I will contact you
            shortly to discuss the project.
          </h2>
        </div>
        <div class="contact__arrow">
          <i class="contact__arrow-icon fas fa-arrow-down"></i>
        </div>
      </div>
      <div class="contact__form">
        <form action="https://formspree.io/taraskurilo@gmail.com" method="POST">
          <div class="form__group">
            <input name="name" type="text" class="form__input" placeholder="Full name" name="name" id="name" required="required" />
            <label for="name" class="form__label">Full name</label>
          </div>
          <div class="form__group">
            <input name="email" name="_replyto" type="email" class="form__input" placeholder="Email address" id="email"
              required="required" />
            <label for="email" class="form__label">Email address</label>
          </div>
          <div class="form__group">
            <textarea name="message" rows="6" class="form__input" id="message"
              placeholder="Tell us about your project (Scope, timeline, budget, etc."
              required="required"></textarea>
            <label for="message" class="form__label"> Message</label>
          </div>
          <button type="submit" class="form__btn btn">Send Request!</button>
        </form>
      </div>
    </section> -->
    <!-- <footer class="footer">
      <img
                      loading="lazy"
                      src="assets/img/TK_white.svg"
                      alt="TK logo"
                      class="footer__logo"
                    />
    </footer> -->
    </main>
  </body>
</html>
