<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taras Kurilo Portfolio</title>
  </head>
  <body class="container-two">
    <div class="project__nav">
      <img
        src="assets/img/TK.svg"
        fill="red"
        alt="TK logo"
        class="header__logo"
      />
      <nav class="header__nav">
        <button class="header__nav-button">
          <a href="#work"> Back to projects</a>
        </button>
        <button class="header__nav-button"><a href="#work">About</a></button>
      </nav>
    </div>
    <div class="project__header">
      <div class="project__header-column">
        <span class="project__header-title">Year</span>
        <span>2015</span>
      </div>
      <div class="project__header-column">
        <span class="project__header-title">Location</span>
        <span>Minsk, Belarus</span>
      </div>
      <div class="project__header-column">
        <span class="project__header-title">Industry</span>
        <span>Telecom</span>
      </div>
      <div class="project__header-column">
        <span class="project__header-title">Category</span>
        <span>Corporate Site</span>
      </div>
      <div class="project__header-column">
        <span class="project__header-title">Services</span>
        <span>
          <p>Digital Strategy</p>
          <p>Business Analysis</p>
          <p>Logotype Redesign</p>
          <p>Corporate Identity</p>
          <p>Website Design</p>
          <p>Development</p>
          <p>Support</p>
        </span>
      </div>
      <div class="project__header-column">
        <a href="" class="project__header-link" target="_blank">Visit site</a>
      </div>
    </div>
    <div class="project__client">
      <h2 class="project__client-name">Client</h2>
      <p class="project__client-desc">
        We created brand identity, UX/UI website design and development for
        Entice Energy startup that aims to supply energy (starting with gas) to
        domestic household across the UK.
      </p>
      <div class="project__client-image">
        <img src="assets/img/fire.jpg" alt="" srcset="" />
      </div>
    </div>
    <div class="project__challenge">
      <h2 class="project__challenge-name">Challenge</h2>
      <p class="project__challenge-desc">
        Create a very simple yet stunning brand identity and promo site that
        sets the brand of Entice Energy apart from the competitors like a fresh
        take on an already saturated area
      </p>
      <div class="project__challenge__objective">
        <h2 class="project__challenge__objective-name">Objectives</h2>
        <p class="project__challenge__objective-desc">
          Create a very simple yet stunning brand identity and promo site that
          sets the brand of Entice Energy apart from the competitors like a
          fresh take on an already saturated area
        </p>
      </div>
      <div class="project__client-image">
        <img src="assets/img/fire.jpg" alt="" srcset="" />
      </div>
    </div>

    <div class="project__concept">
      <h2 class="project__concept-name">Concept</h2>
      <p class="project__concept-desc">
        Communication is built on a balance right between professionalism and
        some entertainment which was inspired by Entice Energy’s unique proposal
        – “energy-free customer service”.
      </p>
    </div>
    <div class="project__solution">
      <h2 class="project__solution-name">Solution</h2>
      <p class="project__solution-desc">
        Communication is built on a balance right between professionalism and
        some entertainment which was inspired by Entice Energy’s unique proposal
        – “energy-free customer service”.
      </p>
    </div>
    <div class="project__impact">
      <h2 class="project__impact-name">Impact</h2>
      <p class="project__impact-desc">
        Communication is built on a balance right between professionalism and
        some entertainment which was inspired by Entice Energy’s unique proposal
        – “energy-free customer service”.
      </p>
    </div>
    <div class="project__results">
      <h2 class="project__results-name">Results</h2>
      <p class="project__results-desc">During 6 month after launch</p>
    </div>
    <div class="project__sidescroll">
      <div class="swiper-container-two">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div>
              <h2 class="project__sidescroll-name">Results</h2>
              <p class="project__sidescroll-desc">
                During 6 month after launch
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <h2 class="project__sidescroll-name">Results</h2>
              <p class="project__sidescroll-desc">
                During 6 month after launch
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <h2 class="project__sidescroll-name">Results</h2>
              <p class="project__sidescroll-desc">
                During 6 month after launch
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <h2 class="project__sidescroll-name">Results</h2>
              <p class="project__sidescroll-desc">
                During 6 month after launch
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <h2 class="project__sidescroll-name">Results</h2>
              <p class="project__sidescroll-desc">
                During 6 month after launch
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <h2 class="project__sidescroll-name">Results</h2>
              <p class="project__sidescroll-desc">
                During 6 month after launch
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div>
              <h2 class="project__sidescroll-name">Results</h2>
              <p class="project__sidescroll-desc">
                During 6 month after launch
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
