// COLOR VARIABLES
$color-primary: #ef1618;
$color-secondary: #1f1e1c;

$color-grey-light-1: #f0f0f0;
$color-grey-light-2: #9299a0;

$color-grey-dark-1: #6f7781;
$color-grey-dark-2: #6d5d4b;

$color-white: #fff;
$color-black: #000;

// FONT VARIABLES

$font-primary: "ArcivoReg", "sans-serif";
$font-primary-bold: "ArcivoBlackReg";

$font-display: "ArcivoBlackReg", "sans-serif";

// RESPONSIVE BREAKPOINTS
$bp-2k: 125em; // 2000px;
$bp-2xlarge: 112.5em; // 1800px;
$bp-xlarge: 100em; // 1600px;
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
$bp-xsSmall: 26.25em; // 420px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.white {
  color: $color-white !important;
}

@font-face {
  font-family: ArcivoReg;
  font-display: swap;
  src: url(../assets/fonts/Archivo-Regular.ttf);
}
@font-face {
  font-family: ArcivoBlackReg;
  font-display: swap;
  src: url(../assets/fonts/ArchivoBlack-Regular.ttf);
}
:root {
  --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  scroll-behavior: smooth;
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  color: $color-secondary;
  // font-weight: 300;
  line-height: 1.6;
  //   --page-background: #000;
  // background-color: $color-grey-light-1;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
}
.grey {
  color: $color-grey-light-1;
}
// .container-main {
//   display: grid;
//   // background: $color-grey-light-1;
//   grid-template-rows: 100vh repeat(4, minmax(min-content, 14rem)) 20vh;
//   grid-template-columns:
//     [full-start]minmax(6rem, 1fr) [center-start]repeat(
//       8,
//       [col-start] minmax(min-content, 14rem) [col-end]
//     )
//     [center-end]minmax(6rem, 1fr) [full-end];

//   @media only screen and (max-width: $bp-medium) {
//     grid-template-rows: 100vh;
//   }
// }
.container-two {
  display: grid;
  // background: $color-grey-light-1;
  // overflow: hidden;
  grid-template-rows: 100vh repeat(6, minmax(min-content, 14rem));
  grid-template-columns:
    [full-start]minmax(6rem, 1fr) [center-start]repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end]minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-medium) {
    // padding: 2rem;
  }
}

.underline--magical {
  background-image: linear-gradient(
    120deg,
    $color-grey-light-1 0%,
    $color-grey-light-1 100%
  );

  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: 0 80%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 80%;
  }
}

.preloader {
  align-items: center;
  background: rgb(23, 22, 22);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 1;
}

.gs_reveal {
  opacity: 0;
  visibility: hidden;
  transition: transform 0s;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0;
}

.btn-test {
  display: inline-block;
  background-color: transparent;

  font-size: 2rem;
  font-weight: 600;
  color: $color-primary;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 50px;
  line-height: 50px;
  margin-right: 25px;
  padding: 0 50px;
  border: none;
  border-right: 1px solid $color-primary;
  position: relative;
  transition: color 0.2s ease-in-out 0s;
  @media only screen and (max-width: $bp-small) {
    font-size: 1.5rem;
    height: 25px;
    line-height: 25px;
    margin-right: 12px;
    padding: 0 20px;

    // width: 50%;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
  }

  &:before {
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: $color-white;
    z-index: 2;
  }

  &:after {
    right: -1px;
    width: 1px;
    height: 50px;
    background-color: $color-primary;
    transform: rotate(-90deg);
    transform-origin: center;
    z-index: 3;
    transition: width 0.3s ease-in-out, transform 0.2s ease-in-out 0.3s,
      z-index 0.15s ease-in-out;
    @media only screen and (max-width: $bp-small) {
      height: 25px;
    }
  }

  &:hover {
    color: $color-white;
    transition: color 0.2s ease-in-out 0.25s;
    z-index: 3;

    &:after {
      z-index: -1;
      transform: rotate(0deg);
      width: 100%;
      transition: transform 0.2s ease-in-out, width 0.3s ease-in-out 0.2s;
    }
  }
}
