.header {
  overflow: hidden;
  background-color: $color-black;
  grid-column: full-start / full-end;

  text-align: center;
  height: 100vh;
  padding: 5rem;

  @supports (display: grid) {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    padding: 0;
  }

  // @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
  //   only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
  //   only screen and (min-width: 125em) {
  //   background-image: url("../img/hex.jpg");
  // }

  // @media only screen and (max-width: $bp-medium) {
  //   padding: 0;
  //   @supports (display: grid) {
  //     grid-column: 1 / -1;
  //     padding: 2rem;
  //   }
  // }

  // @media only screen and (max-width: $bp-small) {
  //   background-position: right;
  // }

  // @media only screen and (max-height: $bp-xsSmall) {
  //   padding: 0;
  // }

  // @media only screen and (max-width: $bp-xsSmall) {
  //   padding: 0;
  //   padding-bottom: 3rem;
  // }

  &__logo {
    position: absolute;
    top: 2rem;
    left: 2rem;

    height: 4.5rem;
    width: 6rem;

    @supports (display: grid) {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      align-self: center;
      justify-self: center;
      margin-top: -2rem;
      margin-left: -10rem;
      position: initial;
    }

    @media only screen and (max-width: $bp-medium) {
      justify-self: start;
      align-self: start;
    }

    @media only screen and (max-height: $bp-xsSmall) {
      display: none;
    }

    @media only screen and (max-width: $bp-xsSmall) {
      display: none;
    }
  }

  &__logo-big {
    position: absolute;
    top: 4.5rem;
    left: 10rem;

    height: 154.5rem;
    width: 156rem;
    opacity: 0.2;
    // z-index: 1;
    overflow: hidden;
    @media only screen and (max-width: $bp-large) {
      height: 104.5rem;
      width: 106rem;
    }

    @media only screen and (max-height: $bp-xsSmall) {
      display: none;
    }

    @media only screen and (max-width: $bp-xsSmall) {
      display: none;
    }
  }
  &__contact {
    position: fixed;
    bottom: 2rem;
    left: 2vw;
    color: $color-white;
    text-transform: uppercase;
    font-size: 2rem;
    z-index: 55;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      color: $color-primary;
    }
  }
  &__social {
    position: fixed;
    bottom: 2rem;
    right: 0;
    z-index: 55;

    text-transform: uppercase;
    font-size: 2rem;

    & a {
      margin: 0 4.5rem 0 0;
      color: $color-white;
      transition: all 0.2s;
      &:hover {
        color: $color-primary;
      }
    }
    & a:first-child {
      margin: 0 4rem 0 0;
    }
  }

  &__nav {
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    margin-right: -3.5rem;
    // position: absolute;
    // top: calc(100vh - 45rem);
    // left: 30vw;
    // width: 15vw;
    // height: 10vh;
    // justify-content: center;
    // align-items: center;

    @supports (display: grid) {
      grid-row: 1 / 2;
      grid-column: 10 / 11;
      align-self: center;
      justify-self: center;
      // margin-right: -2rem;
      // position: initial;
    }
  }
  &__nav-button {
    display: block;
    cursor: pointer;
    font-size: 2.5rem;
    background: none;
    border: 0;
    margin: 0 4rem 0 0;
    padding: 0;
    text-transform: inherit;
    letter-spacing: 0.2rem;
    // font-weight: inherit;
    color: $color-white;
    & a {
      display: block;
      color: $color-white;
    }
  }
  &__nav-button:focus {
    outline: none;
  }
  &__nav-button:hover a {
    animation: glitch-anim-text 0.5s linear alternate 1 backwards;
    transition: all 0.2s;

    color: $color-primary;
  }
  &__big {
    position: relative;
    top: 10%;
    left: 0%;

    color: $color-white;
    text-shadow: 0px 0px 2px #201f1c6e;
    text-transform: uppercase;
    font-family: $font-primary;
    text-align: left;
    letter-spacing: 0.5rem;
    font-size: 12rem;

    font-weight: 900;
    opacity: 1;

    @supports (display: grid) {
      grid-row: 4 / 8;
      grid-column: 2 / 10;
      align-self: center;
      justify-self: center;
      letter-spacing: 0.5rem;
      // margin-right: -6rem;

      position: initial;
      top: 0%;
      left: 0%;
    }
    @media only screen and (max-width: $bp-largest) {
      font-size: 12rem;
      letter-spacing: 4rem;
      margin-right: -4rem;
    }

    @media only screen and (max-width: $bp-large) {
      font-size: 9.2rem;
    }

    @media only screen and (max-width: $bp-medium) {
      letter-spacing: 2.5rem;
      margin-right: -2.5rem;
      font-size: 7.5rem;
    }

    @media only screen and (max-width: $bp-small) {
      letter-spacing: 1rem;
      margin-right: -1rem;
      font-size: 6rem;
    }

    @media only screen and (max-width: $bp-xsSmall) {
      font-size: 4.5rem;
    }

    @media only screen and (max-height: $bp-xsSmall) {
      transform: translateY(1.5rem);
    }
  }
}

@keyframes glitch-anim-text {
  0%,
  100% {
    transform: translate3d(2px, -2px, 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  20% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  41% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  52% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  61% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  75% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  80% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  96% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
}
