.hero {
  min-height: 100vh;
  display: flex;
  // flex-wrap: wrap;
  // align-items: center;
  // flex-direction: column;
  // align-items: center;
  // padding: 100px 80px;
  // justify-content: center;
  &__image {
    flex-basis: 30%;
    background-image: url(/dist/assets/img/img1.jpg);
    opacity: 0.1;
    // transform: scaleX(-1);
    filter: invert(0) brightness(100%) sepia(10%) saturate(1%) blur(1px)
      invert(5%);
    object-fit: cover;
    // z-index: 1;
    // overflow: hidden;
    background-size: cover;
    background-position: bottom;
    min-height: 60vh;
    height: 80vh;
    width: 100%;
    margin: 10rem 0vw;
  }
  &__content {
    &-area {
      flex-basis: 70%;
      color: $color-black;
      text-transform: uppercase;
      display: flex;
      // align-items: left;
      flex-direction: column;
      // align-items: center;
      padding: 10vh 10vw;

      // justify-content: center;
    }
    &-title {
      overflow: hidden;
      display: flex;
      font-family: $font-primary-bold;
      font-size: clamp(5rem, 6vw, 14rem);

      // line-height: 1;
      & h1 {
        margin: 0 2rem;
      }
    }
    &-message {
      font-size: clamp(1.8rem, 4vw, 3.5rem);
      margin-left: 15rem;
    }
  }
}
