.project {
  &__image-container {
    // flex-basis: 30%;
    // background-image: url(/dist/assets/img/img1.jpg);
    // position: absolute;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    z-index: 0;
    // position: relative;
    & img {
      object-fit: contain;
      // object-position: 50% 50%;
      display: block;
      width: 100%;
      height: 100vh;
      // position: relative;
      // height: 50vh;
      // width: 50%;
      // transform: scaleX(-1);
      // filter: invert(0) brightness(100%) sepia(10%) saturate(1%) blur(1px)
      //   invert(5%);
      opacity: 1;
    }
  }
  &__hero {
    z-index: 9;
    // background-color: $color-black;
    opacity: 0.6;

    grid-column: full-start / full-end;
    align-items: center;
    justify-content: center;
    display: flex;
    // justify-items: flex-end;
    // background-image: url(https://images.unsplash.com/photo-1517594422361-5eeb8ae275a9?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    // background-size: cover;
    // background-attachment: fixed;
    // background-position: center top;

    padding: 5vh 0;
    &-text {
      overflow: hidden;

      color: $color-white;
      font-family: $font-primary-bold;
      // opacity: 0.7;
      height: fit-content;
      font-size: clamp(6rem, 9vw, 20rem);
      // text-align: center;
      // text-align: center;
      // align-self: center;
      justify-self: center;
      // color: transparent;
      -webkit-text-stroke: 2px black;

      & span {
        display: block;
        @media only screen and (max-width: $bp-medium) {
          text-align: center;
        }
      }
    }
  }
  &__header-nav {
    z-index: 999;
    display: flex;
    align-items: flex-start;
    // margin-top: 5rem;
    overflow: hidden;
    height: fit-content;
  }
  &__nav-button {
    display: block;
    cursor: pointer;
    font-size: 2.7rem;
    background: none;
    border: 0;
    margin: 0 4rem 0 0;
    padding: 0;
    text-transform: inherit;
    letter-spacing: 0.2rem;
    font-family: $font-primary;
    // font-weight: inherit;
    color: $color-black;
    & a {
      display: block;
      color: $color-primary;
    }
  }
  // &__nav-button:not(:last-child) {
  //   margin: 0 0 0 0;
  // }
  &__nav-button:focus {
    outline: none;
  }
  &__nav-button:hover a {
    animation: glitch-anim-text 0.5s linear alternate 1 backwards;
    transition: all 0.2s;

    color: $color-white;
  }
  &__header {
    grid-column: col-start 3 / col-end 8;
    padding: 10rem 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;

    @media only screen and (max-width: $bp-medium) {
      grid-column: full-start / full-end;
      padding: 10rem 0 6rem 0;
      display: none;
    }

    &-title {
      font-size: 2rem;
      text-decoration: underline;
    }
    &-column {
      display: flex;
      flex-direction: column;
      @media only screen and (max-width: $bp-medium) {
        display: none;
      }
      & span:nth-of-type(2) {
        color: $color-grey-light-2;
      }
    }
    &-link {
      color: $color-black;
      font-size: 2rem;
      transition: all 0.2s;
      &:hover {
        color: $color-primary;
      }
    }
  }
  &__display {
    grid-column: col-start 1 / col-end 8;
    // background-color: $color-primary;
    margin: 5vh 0;
    // @media only screen and (max-width: $bp-2k) {
    //   grid-column: col-start 2 / col-end 11;
    // }
    @media only screen and (max-width: $bp-medium) {
      grid-column: full-start / full-end;
      padding: 2rem;
    }
    &-image {
      display: grid;
      place-items: center;
      // align-items: center;
      // margin-bottom: 10rem;
      // background-color: rgb(245, 245, 245);
      // padding: 2rem;
    }
    &-image img {
      display: block;
      // margin: 0 auto;
      width: 100%;
      //height: 1000px;
      // filter: invert(1) brightness(100%) sepia(10%) saturate(1%) blur(1px)
      //   invert(5%);
    }
  }
  &__client,
  &__concept,
  &__solution,
  &__impact {
    grid-column: col-start 1 / col-end 8;
    // background-color: $color-primary;
    margin: 5vh 0;
    // @media only screen and (max-width: $bp-2k) {
    //   grid-column: col-start 2 / col-end 11;
    // }
    @media only screen and (max-width: $bp-medium) {
      grid-column: full-start / full-end;
      padding: 2rem;
    }
    &-name {
      display: block;
      font-size: clamp(7.9rem, 10vw, 14rem);
      margin-left: 20rem;
      font-weight: 700;
      font-family: $font-primary;
      // transform: translateY(110%);
      // transition: transform 400ms cubic-bezier(0.25, 1, 0.5, 1);
      // &.active {
      //   transform: translateY(0);
      //   transition-delay: 200ms;
      // }
      @media only screen and (max-width: $bp-medium) {
        margin-left: 0rem;
      }
    }
    &-desc {
      overflow: hidden;
      font-size: clamp(2.5rem, 5vw, 3rem);
      opacity: 0.5;
      // padding: 0 25rem;
      // margin-right: 10rem;
      margin-bottom: 15vh;
      @media only screen and (max-width: $bp-medium) {
        margin-bottom: 10vh;
      }
    }
    &-image {
      display: grid;
      place-items: center;
      // align-items: center;
      margin-bottom: 10rem;
      background-color: rgb(245, 245, 245);
      padding: 2rem;
    }
    &-image img {
      display: block;
      // margin: 0 auto;
      width: 100%;
      //height: 1000px;
      // filter: invert(1) brightness(100%) sepia(10%) saturate(1%) blur(1px)
      //   invert(5%);
    }
  }
  &__challenge {
    grid-column: col-start 1 / col-end 8;
    // background-color: $color-primary;
    margin: 5vh 0;
    // @media only screen and (max-width: $bp-2k) {
    //   grid-column: col-start 2 / col-end 11;
    // }
    @media only screen and (max-width: $bp-medium) {
      grid-column: full-start / full-end;
      padding: 2rem;
    }
    &-name {
      font-size: clamp(7.9rem, 10vw, 14rem);
      margin-left: 20rem;

      font-weight: 700;
      @media only screen and (max-width: $bp-medium) {
        margin-left: -1rem;
      }
    }
    &-desc {
      font-size: clamp(2.5rem, 5vw, 3rem);
      // padding: 0 25rem;
      opacity: 0.5;
      margin-bottom: 10rem;
      @media only screen and (max-width: $bp-small) {
        margin-bottom: 5rem;
      }
    }
    &__objective {
      padding: 0 20rem;
      margin-bottom: 15vh;
      @media only screen and (max-width: $bp-medium) {
        padding: 0 8rem;
      }
      @media only screen and (max-width: $bp-small) {
        padding: 0;
      }

      &-name {
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 2rem;
      }
      &-desc {
        font-size: clamp(2rem, 4vw, 3rem);
        opacity: 0.5;
      }
    }
    &-image {
    }
    &-image img {
      display: block;
      margin: 0 auto;
      width: 80%;
      height: 1200px;
    }
  }
  &__impact {
    // display: flex;
    // align-content: center;
    &-image {
      background-color: white;
      padding: 0rem;
    }
    &-image img {
      width: 30%;
      height: auto;
      margin: 0 auto;
      @media only screen and (max-width: $bp-medium) {
        width: 80%;
      }
    }
  }
  &__results {
    grid-column: col-start 1 / col-end 8;
    // background-color: $color-primary;
    // margin-bottom: 20rem;
    // margin-left: 5rem;
    // @media only screen and (max-width: $bp-2k) {
    //   grid-column: col-start 2 / col-end 11;
    // }
    @media only screen and (max-width: $bp-medium) {
      grid-column: full-start / full-end;
      padding: 2rem;
    }
    &-name {
      font-size: clamp(7.9rem, 10vw, 14rem);
      margin-left: 20rem;
      font-weight: 700;
      @media only screen and (max-width: $bp-medium) {
        margin-left: 0;
      }
    }
    &-desc {
      font-size: clamp(1.5rem, 5vw, 2.5rem);
      opacity: 0.5;
      // padding: 0 25rem;
      // margin-right: 10rem;
      // margin-bottom: 20rem;
    }
    &-image {
      display: grid;
      place-items: center;
      // align-items: center;
    }
    &-image img {
      display: block;
      // margin: 0 auto;
      width: 80%;
      height: 1000px;
    }
  }
  &__sidescroll {
    grid-column: full-start / full-end;
    &-name {
      font-size: clamp(2rem, 5vw, 2rem);
      font-weight: 100;
    }
    &-desc {
      font-size: clamp(3rem, 5vw, 5rem);
      font-weight: 700;
    }
  }
  &__next {
    grid-column: full-start / col-end 8;
    text-align: right;
    font-family: $font-primary-bold;
    text-transform: uppercase;
    margin: 15vh 0;
    z-index: 10;
    @media only screen and (max-width: $bp-medium) {
      grid-column: full-start / full-end;
      margin: 3vh 0;
      padding: 2rem;
    }
    & a {
      perspective: 100vw;
      display: block;
      @media only screen and (max-width: $bp-medium) {
        perspective: none;
      }
    }
    & a:hover &-name {
      transform: rotateY(0deg) translateZ(0);
      color: $color-black;
    }
    &-nameholder {
      font-size: clamp(2.2rem, 3vw, 4rem);
      color: $color-black;
    }
    &-name {
      font-size: clamp(6rem, 7vw, 9vw);
      line-height: 0.9em;
      color: transparent;
      -webkit-text-stroke: 2px #000;
      transform: rotateY(-45deg) translateZ(0);
      transform-origin: right center;
      transition: color 0.2s ease-in-out, transform 0.5s;
      @media only screen and (max-width: $bp-medium) {
        transform: rotateY(0deg) translateZ(0);
      }
    }
  }
  // &__concept,
  // &__solution,
  // &__impact {
  //   grid-column: full-start / full-end;
  //   // background-color: $color-primary;
  //   margin-bottom: 20rem;

  //   &-name {
  //     font-size: clamp(5rem, 10vw, 20rem);
  //     margin-left: 50rem;
  //   }
  //   &-desc {
  //     font-size: clamp(5rem, 10vw, 5rem);
  //     padding: 0 25rem;
  //     margin-bottom: 20rem;
  //   }
  //   &-image {
  //   }
  //   &-image img {
  //     display: block;
  //     margin: 0 auto;
  //     width: 80%;
  //     height: 1200px;
  //   }
  // }
}

.swiper-container-two {
  overflow: hidden;
  width: 80%;
  height: 600px;
  margin: 0 auto;
  @media only screen and (max-width: $bp-medium) {
    height: 300px;
  }
}

.swiper-project {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
