.work {
  position: relative;
  // grid-column: full-start / full-end;
  // padding: 10rem 8vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  overflow: hidden;
  // justify-items: left;
  grid-row-gap: 5rem;
  opacity: 1;
  margin: 20vh 10vw;

  // background-color: $color-white;

  // @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
  //   only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
  //   only screen and (min-width: 125em) {
  //   background-image: linear-gradient(
  //       to bottom right,
  //       $color-secondary,
  //       #1f1e1bad
  //     ),
  //     url(../img/work_bg.jpg);
  // }

  @media only screen and (max-width: $bp-xsSmall) {
    justify-items: center;
  }
  // @media only screen and (max-width: $bp-xsSmall) {
  //   background-image: none;
  // }

  // img {
  //   width: 70%;
  // }

  // h3 {
  //   @media only screen and (max-width: $bp-small) {
  //     font-size: 7rem;
  //   }

  //   @media only screen and (max-width: $bp-xsSmall) {
  //     font-size: 5.2rem;
  //   }
  // }
  &__heading {
    // width: 25%;
    font-size: clamp(4rem, 5.5vw, 9rem);
    color: $color-black;
    opacity: 1;
    font-family: $font-primary-bold;
    // padding: 9rem 5rem 9rem 32rem;
    margin-bottom: 40rem;
    align-self: flex-start;
    // background-color: $color-black;

    @media only screen and (max-width: $bp-xlarge) {
      // font-size: 3vw;
      // padding: 6rem 5rem 6rem 10rem;
    }

    @media only screen and (max-width: $bp-medium) {
      // margin-top: 11rem;
      // padding: 7rem;
    }
    @media only screen and (max-width: $bp-small) {
      // font-size: clamp(3rem, 2vw, 5rem);
      font-size: 4rem;
    }
    @media only screen and (max-width: $bp-xsSmall) {
      // font-size: clamp(3rem, 2vw, 5rem);
      font-size: 3rem;
      padding: 5rem;
      width: 100%;
      text-align: center;
    }
  }
  &__list {
    position: relative;
    // overflow: hidden;
    // display: grid;
    // grid-template-columns: auto auto;
    // grid-column-gap: 1rem;
    // grid-row-gap: 8vh;
    // align-items: start;
    // padding: 20rem 8vw;
    margin-bottom: 20vh;

    @media only screen and (max-width: $bp-largest) {
      // grid-template-columns: 1fr;

      // grid-row-gap: 0vh;
    }
  }
  // &__details {
  //   display: grid;
  //   grid-template-columns: auto auto;
  //   grid-column-gap: 1rem;
  //   grid-row-gap: 8vh;
  //   align-items: start;

  //   @media only screen and (max-width: $bp-largest) {
  //     grid-template-columns: 1fr;

  //     grid-row-gap: 0vh;
  //   }
  // }
  &__details-heading a {
    position: absolute;
    left: 28%;
    top: -25%;
    width: 50%;
    color: $color-black;
    -webkit-text-stroke: 2px $color-white;
    font-size: clamp(6rem, 10vw, 20rem);
    line-height: 100%;
    opacity: 0.8;
    z-index: 10;
    transition: all 0.2s;
    font-family: $font-display;
    @media only screen and (max-width: $bp-xlarge) {
      left: 8%;
      top: 32%;
    }
    @media only screen and (max-width: $bp-large) {
      top: 40%;
    }
    @media only screen and (max-width: $bp-medium) {
      top: 29.5%;
    }

    @media only screen and (max-width: $bp-small) {
      top: 37.5%;
    }
    @media only screen and (max-width: $bp-small) and (orientation: landscape) {
      top: 32.5%;
    }
  }
  &__details-heading a:hover {
    color: $color-white;
    // color: transparent;
    -webkit-text-stroke: 2px $color-black;
    opacity: 1;
    // letter-spacing: 0.5rem;
  }
  &__type {
    position: absolute;
    z-index: 10;
    font-size: clamp(1.5rem, 1vw, 2.5rem);
    letter-spacing: 1rem;
    left: 70%;
    top: 50%;
    transform: rotate(90deg);
    font-family: $font-primary;
    // font-size: clamp(1.8rem, 1vw, 2.2rem);
    color: $color-black;
    text-transform: uppercase;
    @media only screen and (max-width: $bp-xlarge) {
      left: 70%;
      top: 55%;
      letter-spacing: 0.5rem;
    }
    @media only screen and (max-width: $bp-large) {
      left: 68%;
      top: 70%;
    }
    @media only screen and (max-width: $bp-small) {
      transform: rotate(0deg);
      left: 9%;
      top: 82%;
    }
  }
  &__type-link {
    position: absolute;
    font-size: 1.7;
    right: 20%;
    top: 75%;
    z-index: 99;
    @media only screen and (max-width: $bp-xlarge) {
      right: 17%;
      top: 75%;
    }
    @media only screen and (max-width: $bp-large) {
      right: 24%;
      top: 85%;
    }
    @media only screen and (max-width: $bp-medium) {
      left: 0%;
      top: 93%;
      display: none;
    }
  }

  &__image {
    // width: 80rem;

    border-radius: 1%;
    filter: invert(0) brightness(100%) sepia(10%) saturate(1%) blur(1px)
      invert(5%);
    // z-index: 0;
    // display: block;
    // margin: 10rem 0;
    // position: relative;
    position: relative;
    overflow: hidden;
    width: 75%;
    // overflow: hidden;

    // @media only screen and (max-width: $bp-small) {
    //   margin-bottom: 7rem;
    //   width: 100%;
    // }
    & img {
      width: 100%;
    }
  }

  // @media only screen and (max-width: $bp-medium) {
  //   margin-bottom: 1rem;
  // }

  //   p {
  //     margin-top: 2rem;
  //     margin-bottom: 4rem;
  //     width: 80%;
  //     @media only screen and (max-width: $bp-largest) {
  //       margin-bottom: 2rem;
  //     }
  //     @media only screen and (max-width: $bp-medium) {
  //       width: 90%;
  //     }
  //   }
  // }
  // &__button {
  //   margin-top: 3rem;

  //   @media only screen and (max-width: $bp-medium) {
  //     display: none;
  //   }
  // }
}
button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0;
}

.btn-test {
  display: inline-block;
  background-color: transparent;

  font-size: 2rem;
  font-weight: 600;
  color: $color-primary;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 50px;
  line-height: 50px;
  margin-right: 25px;
  padding: 0 50px;
  border: none;
  border-right: 1px solid $color-primary;
  position: relative;
  transition: color 0.2s ease-in-out 0s;
  @media only screen and (max-width: $bp-small) {
    // font-size: 1.2rem;
    height: 25px;
    line-height: 25px;
    margin-right: 12px;
    padding: 0 2px;

    width: 50%;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
  }

  &:before {
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: $color-white;
    z-index: 2;
  }

  &:after {
    right: -1px;
    width: 1px;
    height: 50px;
    background-color: $color-primary;
    transform: rotate(-90deg);
    transform-origin: center;
    z-index: 3;
    transition: width 0.3s ease-in-out, transform 0.2s ease-in-out 0.3s,
      z-index 0.15s ease-in-out;
    @media only screen and (max-width: $bp-small) {
      height: 25px;
    }
  }

  &:hover {
    color: $color-white;
    transition: color 0.2s ease-in-out 0.25s;
    z-index: 3;

    &:after {
      z-index: -1;
      transform: rotate(0deg);
      width: 100%;
      transition: transform 0.2s ease-in-out, width 0.3s ease-in-out 0.2s;
    }
  }
}
